{%extends "base.html"%}
{%block content%}
{% load static %}

<div class="container">
    <h1 class="text-center mt-3 display-4">About Page</h1>



    <section id="about-intro" class="one_third first">
        <h2>Proposito de Proyecto</h2>
        <div class="panorama"><img class="imgholder" src="images/demo/290x170.gif" alt=""></div>
        <p>&quot;Analisis de sentiminetos Covid-19&quot;</p>
        <blockquote>
            <p><span>&ldquo;</span> La actual situacion de la emergencia sanitaria y nacio el proyecto de
                realizar un analsis de los sentimientos en el pais de Ecuador para mostrar los resultados y
                ver como la gente reacciona ante esta situacion
                que afecta a nuestro pais y al mundo".
            </p>
        </blockquote>
    </section>
    <section id="skillset" class="one_third">
        <h2>Herramientas utilizadas</h2>
        <p>Para la siguiente aplicacion se utilizaron las siguientes.</p>
        <p>Detsacamos entre la principal herramienta Python ya que es de mucha utilidad para el analisis de
            datos y calculos matematicos</p>
        <ul>
            <li>Python 3</li>
            <li>API Twitter.</li>
            <li>GitHub</li>
            <li>VADER (NLP)</li>
            <li>Emoji</li>

        </ul>
    </section>
    <section id="team" class="one_third">
        <h2 class="text-center">Participantes del Proyecto</h2>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top collaborator" src="{% static "images/will.jpg" %}" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">
                        Aguilar Siquigua Wilson Bryan
                    </h5>
                    <hr />
                    <p class="card-text">
                        Estudiante de septimo nivel de la Universidad Politecnica
                        Salesiana
                    </p>
                    <p class="card-text">
                        <small class="text-muted">waguilars@est.ups.edu.ec</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top collaborator" src="{% static "images/gabo.jpeg" %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        Pablo Gabriel Cacuango Pujota
                    </h5>
                    <hr />
                    <p class="card-text">
                        Estudiante de septimo nivel de la Universidad Politecnica
                        Salesiana
                    </p>
                    <p class="card-text">
                        <small class="text-muted">pcacuangop@est.ups.edu</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" <img class="card-img-top collaborator" src="{% static "images/chris.jpeg" %}"
                    alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">
                        Christian Mauricio Lasso Betancourt
                    </h5>
                    <hr />
                    <p class="card-text">
                        Estudiante de septimo nivel de la Universidad Politecnica
                        Salesiana
                    </p>
                    <p class="card-text">
                        <small class="text-muted">classob@est.ups.edu.ec</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top collaborator" src="{% static "images/ricky.jpeg" %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        Ricardo Patricio Romo Mejia
                    </h5>
                    <hr />
                    <p class="card-text">
                        Estudiante de septimo nivel de la Universidad Politecnica
                        Salesiana
                    </p>
                    <p class="card-text">
                        <small class="text-muted">rromom@est.ups.edu.ec</small>
                    </p>
                </div>
            </div>



        </div>
    </section>
</div>


{%endblock%}