{%extends "base.html"%}
{%block content%}
{%load my_tags %}

<div class="container">

    <h1 class="text-center mt-3">Tweet Analysis </h1>
    <div class="col-md-4">

        <form action="/analysis" method="GET">
            <div class="form-group">
                <label for="tweets">Ingrese la cantidad de tweets:</label>
                <input type="number" name="quantity" id="tweets" class="form-control">
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>
    </div>
    <div class="row md-3">
        <div class="col-md-6 text-center">
            <h2>Similitud de Coseno</h2>
            {%if cos_tags %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Tweet</th>
                        <th>Sentimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {%for tweet in cos_tags%}
                    <tr>
                        <td>{{tweet}}</td>
                        <td>{{ cos_tags|get_item:tweet}}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
            <div class="text-left">
                <h4 class="font-weight-bold">Porcentajes</h4>
                <p>
                    <span class="font-weight-bold">Positivas:</span> {{cos_pos}}%
                </p>
                <p>
                    <span class="font-weight-bold">Negativas:</span> {{cos_neg}}%
                </p>
            </div>

            {%endif%}
        </div>
        <div class="col-md-6 text-center">
            <h2>Similitud de Jaccard</h2>
            {%if jac_tags %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Tweet</th>
                        <th>Sentimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {%for tweet in jac_tags%}
                    <tr>
                        <td>{{tweet}}</td>
                        <td>{{ jac_tags|get_item:tweet}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="text-left">
                <h4 class="font-weight-bold">Porcentajes</h4>
                <p>
                    <span class="font-weight-bold">Positivas:</span> {{jac_pos}}%
                </p>
                <p>
                    <span class="font-weight-bold">Negativas:</span> {{jac_neg}}%
                </p>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{%endblock %}